body
{
background-image: url(bacgroun_mothman.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center center;
background-size: cover;
}
h1
{
color: red;
font-family: 'Times New Roman', serif;
font-size: 350%;
text-align: center;
text-shadow: 2px 2px #333300;
font-style: italic;
}
h2
{
color: white;
font-family: Garamond, serif;
font-size: 100%;
text-align: center;
text-shadow: 2px 2px #333300;
}
p
{
color: white;
text-align: justify;
font-family: Georgia, serif;
font-size: 140%;
text-align: center;
text-shadow: 2px 2px #333300;
}
