body{
	background-image: url(BackgroundPicsaroni.jpg);
	background-position: center;
	background-size: cover;
}
#wrapper{
		width: auto;
		height: 500px;
		padding: 2px;
		border: 0;
}
#wrapper div{
		 width: 250px;
		 height: 400px;
		 margin: 10px;
		 border: 2px solid #783f04;
		 float: left;
		 font-size: 17px;
		 color:#8B0000;
                 text-align:center;
}
#wrapper div img {
 		 width: 100px;
 		 height: 100px;
}
h1{
	    color: #000000;
		}
